:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  height: 80px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 100;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

.logo a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}
.nav-container a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text-color);
}

.nav-container a i {
  margin-right: 8px;
}

#nav-bar .nav-container a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}
main {
  max-width: 1750px;
  margin: 0 auto;
}

/* SECTION 1: Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 100px;
  gap: 150px;
  height: 100vh;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .profile-pic {
  display: flex;
  justify-content: right;
}

.hero-section .profile-pic img {
  width: 400px;
  border-radius: 50%;
}

/* SECTION 2: Skills  */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .logos .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .logos .logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .logos .logo span {
  font-size: 18px;
}

/* testimony  */
.testimony-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.testimony-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.testimony-section .group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.testimony-section .group .profile-pic {
  text-align: center;
}

.testimony-section .group .profile-pic img {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimony-section .group .profile-pic p {
  font-weight: 600;
}

.testimony-section .group .profile-pic p:last-child {
  font-weight: normal;
}



@media (max-width: 600px) {
  #nav-bar {
    padding: 0 20px;
  }
  #nav-bar .nav-container a {
    font-size: 22px;
  }
  #nav-bar .nav-container a span {
    display: none;
  }
  #nav-bar .nav-container a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }
}
